@{
    ViewData["Title"] = "Acerca del sistema";
}
<h2>@ViewData["Title"]</h2>
<h1>@ViewData["Message"]</h1>
<p>Sistema desarrollado como taller para la asignatura Ingeniería de Software I, Semestre II 2017</p>
<p>Desarrollado por René José Roa Arriagada</p>
<address>
    <strong>Contacto:</strong> <a href="mailto:reneroaa@gmail.com">reneroaa@gmail.com</a><br />
</address>