@{
    ViewData["Title"] = "Acerca del sistema";
}
<h2>@ViewData["Title"]</h2>
<h1>@ViewData["Message"]</h1>
<p>Sistema web de gestión de cotizaciones de la Unidad de Producción Audiovisual (UPA) de la Universidad Católica del Norte</p>
<p>Sistema desarrollado por René José Roa Arriagada</p>
<address>
    <strong>Contacto:</strong> <a href="mailto:reneroaa@gmail.com">reneroaa@gmail.com</a><br />
</address>