@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Unidad de Producción Audiovisual<br />
    Escela de Periodismo<br />
    Universidad Católica del Norte<br />
    Av. Angamos 0610, Antofagasta<br />
    <abbr title="Teléfono">T:</abbr>
    (55) 235 5000
</address>

<address>
    <strong>Contacto:</strong> <a href="mailto:Support@example.com">upa@ucn.com</a><br />
</address>
