@{
    ViewData["Title"] = "Home Page";
}

<h1>Sistema de cotizaciones UPA</h1>

<div class="row"><center>
    <div class="col-md-3">
        <h2><b>Nuevo cliente</b></h2>
        <ul>
            <a href='@Url.Action("Create", "Persona")'>
                <img class="center-block" src="/images/nuevo.png" width=100% height=100%>    
            </a>
        </ul>
    </div>
        <div class="col-md-3">
        <h2></h2>
        <ul>
            
        </ul>
    </div>
    <div class="col-md-3">
        <h2><b>Antiguo cliente</b></h2>
        <ul>
            <a href='@Url.Action("Create", "Cotizacion")'>
            <img class="center-block" src="/images/antiguo.png" width=100% height=100% >
            </a> 
        </ul>
    </div>
    <div class="col-md-3">
        <h2></h2>
        <ul>
            
        </ul>
    </div>
    </center>
</div>






