@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h1>@ViewData["Message"]</h1>
<hr>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.869286258928!2d-70.41245498493444!3d-23.680632071892926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96afd5985772b1d7%3A0xbb63cf320439d951!2sUniversidad+Cat%C3%B3lica+del+Norte!5e0!3m2!1ses-419!2scl!4v1516177358626" width="550" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

<address>
    <h3>Unidad de Producción Audiovisual UPA-UCN</h3>
    Escela de Periodismo<br />
    Universidad Católica del Norte<br />
    Av. Angamos 0610, Antofagasta<br />
    <abbr title="Teléfono">T:</abbr>
    (55) 235 5000
    <strong>Contacto:</strong> <a href="mailto:Support@example.com">upa@ucn.com</a><br />
</address>




