@model Cotizaciones.Models.Cotizacion

@{
    ViewData["Title"] = "Create";
}

<h2>Agregar nueva cotización</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <!--<label asp-for="PersonaRut" class="control-label"></label>-->
                <p><b>Rut cliente: </b></p>
                <select asp-for="PersonaRut" class ="form-control" asp-items="ViewBag.PersonaRut">
                    <option value="0">Seleccione RUT</option>
                </select>
            </div>
                <!--NOTA: agregat table-->
            <div class="form-group">
                <!--<label asp-for="nombreCliente" class="control-label"></label>-->
                
                <p><b>Nombre cliente: </b></p>
                <input placeholder="Ingrese nombre " asp-for="nombreCliente" class="form-control" />
                <span asp-validation-for="nombreCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--<label asp-for="descripcionCotizacion" class="control-label"></label>-->
                <p><b>Descripción de cotización: </b></p>
                <textarea placeholder="Ingrese descripción" asp-for="descripcionCotizacion" class="form-control" rows="2" ></textarea>
                <span asp-validation-for="descripcionCotizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--<label asp-for="valorCotizacion" class="control-label"></label>-->
                <p><b>Valor cotización :</b> [ Sin signo $ ni puntos ]</p>
                <input placeholder="Ingrese valor" asp-for="valorCotizacion" class="form-control" />
                <span asp-validation-for="valorCotizacion" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="estadoCotizacion" class="control-label"></label>
                <p><b>Estado cotización: </b></p>
                <input placeholder="Ingrese estado" asp-for="estadoCotizacion" class="form-control" />
                <span asp-validation-for="estadoCotizacion" class="text-danger"></span>
            </div>-->

            <!--<div class="form-group">
                <p><b>Estado cotización: </b></p>
                <select class ="form-control" asp-for="estadoCotizacion">
                    <option>Activa</option>
                    <option>En proceso</option>
                    <option>Finalizada</option>
                </select>
                <span asp-validation-for="estadoCotizacion" class="text-danger"></span>
            </div>-->

            <div class="form-group">
                <p><b>E-Mail: </b></p>
                <input asp-for="estadoCotizacion" class ="form-control" >
                <span asp-validation-for="estadoCotizacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <!--<label asp-for="fechaCotizacion" class="control-label"></label>-->
                <p><b>Fecha Cotización: </b></p>
                <input asp-for="fechaCotizacion" class="form-control" />
                <span asp-validation-for="fechaCotizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--<label asp-for="fechaValidez" class="control-label"></label>-->
                <p><b>Fecha de expiración: </b></p>
                <input asp-for="fechaValidez" class="form-control" />
                <span asp-validation-for="fechaValidez" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear nueva cotización" class="btn btn-default" />  |  <a asp-action="Index">Volver a lista </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
